.scrollbox {
  height: 200px;
  overflow-y: scroll; 
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }
}
.scrollbox:hover {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
@media (hover: none) {
  .scrollbox {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

// for Dark
.scrollbox-dark {
  height: 200px;
  overflow-y: scroll; 
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }
}
.scrollbox-dark:hover {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
}
@media (hover: none) {
  .scrollbox-dark {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
